<app-user-nav></app-user-nav>
<div class="container">
    <div class="inside-div">
    <h2 class="text-center">Create a recipe here</h2>
    <form (ngSubmit)="onSubmit()" class="form">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" placeholder="Name of the recipe"
            [(ngModel)]="recipe.name" name="name">
            <label for="floatingName">Name of the recipe</label>              
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Write ingredients and amount here" id="ingredients"
            [(ngModel)]="recipe.ingredients" name="ingredients"></textarea>
            <label for="ingredients">Ingredients</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Write description here" id="description"
            [(ngModel)]="recipe.description" name="description"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="row">
            <label for="select">Choose a category: </label>
            <select class="form-select" aria-label="select" id="select" 
                [(ngModel)]="selectedCategory" name="selectedCategory">
                <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
            </select> 
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="checkbox" [(ngModel)]="recipe.published" name="published" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Public
            </label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingDate" placeholder="image"
            [(ngModel)]="recipe.image" name="image">
            <label for="floatingDate">Image Link</label>
        </div>
        <button type="submit" class="btn btn-dark btn-lg">Save</button>
    </form>        
    </div>

</div>
