<nav class="navbar navbar-expand-sm">
    <ul class = "navbar-nav mr-auto">
      <li class = "nav-item">
        <a class = "nav-link" routerLinkActive="active" routerLink = "/create-recipe"><b class="register-link">Add a recipe</b></a>
      </li>
      <li class = "nav-item">
        <a class = "nav-link" routerLinkActive="active" routerLink = "/recipes"><b>Recipes</b></a>
      </li>
      <li class = "nav-item">
        <a class = "nav-link" routerLinkActive="active" routerLink = "/logout"><b>Log out</b></a>
      </li>
      <li class = "nav-item position-absolute end-0 top-50 translate-middle" style="width: 40px; height: 40px;">
        <!-- <div class="img-div position-absolute top-50 end-0 translate-middle"> -->
          <a class = "nav-link" routerLinkActive="active" routerLink="/user-settings">
          <!-- <img src="./assets/img/home.png" routerLink="/home" alt="home"> -->
          <img src="../assets/img/account.png" alt="User profile">
        </a>
        <!-- </div> -->
      </li>
    </ul>
</nav>