<nav class="navbar navbar-expand-sm">
  <ul class = "navbar-nav mr-auto">
    <li class = "nav-item">
      <a class = "nav-link" routerLinkActive="active" routerLink = "/register"><b class="register-link">Join now</b></a>
    </li>

    <li class = "nav-item">
      <a class = "nav-link" routerLinkActive="active" routerLink = "/login"><b>Log in</b></a>
    </li>
    
    <li class = "nav-item position-absolute end-0 top-50 translate-middle" style="width: 40px; height: 40px;">
      <a class = "nav-link" routerLinkActive="active" routerLink="/home">
        <img class="img-active" src="./assets/img/home.png" alt="home">
      </a>
    </li>
  </ul>
</nav>