<app-user-nav></app-user-nav>
<section class="vh-100">
    <div class="container">
        <button type="button" routerLink="/user-settings" class="btn btn-light">Return</button>
        <h1 class="text-center">Change password</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-outline">
                <label class="form-label">Old password</label>
                <input type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword">
            </div>
            <div class="form-outline">
                <label class="form-label">New password</label>
                <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword">
            </div>
            <div class="form-outline">
                <label class="form-label">Confirm new password</label>
                <input type="password" class="form-control" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-lg">Save changes</button>
        </form>
    </div>
</section>