.container{
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.221);
    background: #ffffff80;
    width: 55%;
}

.form-outline{
    margin: 20px;
}

.btn-lg {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-label{
    /* change text size */
    font-size: 22px;
}
.form-control{
    /* change input size */
    font-size: 18px;
    background: rgba(255, 255, 255, 0.467);
}