<div class="container">

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let recipe of recipes">
            <!-- внутри каждого элемента фото,или же серая иконка, название, первые Н символов описания, 
            категория, дата добавления -->
            <div class="row">
                <div class="col-md-3">
                    <img src={{recipe.image}} alt="Recipe Image" class="img-fluid">
                </div>
                <div class="col-md-9" >
                    <h3><a [routerLink]="['/recipe-info', recipe.id]" class="link-dark">{{recipe.name}}</a></h3>
                    <p>{{recipe.description.length > 100 ? recipe.description.slice(0, 150) + '...' : recipe.description}}</p>
                    <p>{{recipe.category}}</p>
                    <p>{{recipe.date}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>