img{
    max-height: 100%;
    max-width: 100%;
    /*center inside div*/
    display: block;
    margin:auto;
    background-size: cover;

}
.container{
    padding: 20px;
}

.list-group-item{
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.758);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.352);
}

.col-md-3{
    height: 200px;
}
